.home{

}
.logo{
  text-align: center;
  img{
    max-width:100%;
  }
}
ul{
  color:#074487;
  list-style-type: none;
  padding:0px;
  margin:0px;
  text-align: center;
  line-height: 2em;
  font-size:1.2em;
}
a.more-button{
  border-radius: 20px;
  border:2px solid #cbcbcb;
  padding:0px 6em;
  color:#0b24fa;
}
